<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Techathlon 21: Hackathon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>
  <link rel="stylesheet" href="./login.css">

</head>

<body>
  <!-- partial:index.partial.html -->

  <div id="particles-js"></div>
  <div class="animated bounceInDown">
    <div class="container">
      <img src="https://techathlonipec.tech/images/MainLogo.png" height="80px" alt="">
      <% if (messages.error){ %>
        <span class="error animated tada" id="msg">
          <%= messages.error %>
        </span>
        <% } %>
          <form name="form1" class="box" method="POST" action="/login">
            <h4>Techathlon 21 </h4>
            <h5>Sign in to your account.</h5>
            <input type="text" name="teamName" placeholder="Team Name" autocomplete="off">
            <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
            <input type="submit" value="Sign in" class="btn1">
          </form>
    </div>
  </div>
  <!-- partial -->
  <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
  <script src="./script.js"></script>

</body>

</html>